# Intro

This is really just a practice project, messing around with SQL, Pandas, and some of the data-wrangling techniques from my IBM 'Data Analysis with Python' course. The 'autos.csv' file was a dataset provided for 'Databases with SQL and Python' project previously. The dataset is at https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data.

# Preparations

In [1]:
# Import the packages
import csv, sqlite3 
import pandas as pd
import numpy as np
!pip install ipython-sql

# Establish the SQL database
con = sqlite3.connect("autodb.db")
cur = con.cursor()
# Connect to it
%load_ext sql
%sql sqlite:///autodb.db
# Load the data from auto.csv
df = pd.read_csv("auto.csv")
df.to_sql("AUTO",con,if_exists='replace',index=False,method="multi")

Requirement already satisfied: ipython-sql in c:\users\lucfi\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\lucfi\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\lucfi\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lucfi\anaconda3\lib\site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in c:\users\lucfi\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\lucfi\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lucfi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\lucfi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lucfi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\lucfi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\lucfi\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lucfi\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\lucfi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\lucfi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\lucfi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

204

Now that the database is prepared, I'll quickly test to see if everything is loaded up properly. I realize this is perhaps a bit redundant, but I'm really just trying to practice my SQL stuff now that I've finished that course.

In [2]:
%%sql
SELECT * FROM AUTO LIMIT 5;

 * sqlite:///autodb.db
Done.

[(3, '?', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', 88.6, 168.8, 64.1, 48.8, 2548, 'dohc', 'four', 130, 'mpfi', '3.47', '2.68', 9.0, '111', '5000', 21, 27, '16500'),
 (1, '?', 'alfa-romero', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 94.5, 171.2, 65.5, 52.4, 2823, 'ohcv', 'six', 152, 'mpfi', '2.68', '3.47', 9.0, '154', '5000', 19, 26, '16500'),
 (2, '164', 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 99.8, 176.6, 66.2, 54.3, 2337, 'ohc', 'four', 109, 'mpfi', '3.19', '3.40', 10.0, '102', '5500', 24, 30, '13950'),
 (2, '164', 'audi', 'gas', 'std', 'four', 'sedan', '4wd', 'front', 99.4, 176.6, 66.4, 54.3, 2824, 'ohc', 'five', 136, 'mpfi', '3.19', '3.40', 8.0, '115', '5500', 18, 22, '17450'),
 (2, '?', 'audi', 'gas', 'std', 'two', 'sedan', 'fwd', 'front', 99.8, 177.3, 66.3, 53.1, 2507, 'ohc', 'five', 136, 'mpfi', '3.19', '3.40', 8.5, '110', '5500', 19, 25, '15250')]

## Cleaning

Okay, so I can immediately see some issues. First problem is the fact that there's no actual header, second is that I'm going to need to go through and figure out how to deal with those missing values. As I'm going along here, I'm realizing that really, most of my work is going to be done in Pandas, so with regards to the SQL aspect, I think I'll focus on just creating the database with the cleaned data at the end.

In [3]:
# Assign headers to a list of strings
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df.columns = headers # Update the underlying dataframe
df.to_sql("AUTO",con,if_exists='replace',index=False,method="multi") # Overwrite the data in the database.
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

Next, I'm going to determine the number of missing values in each column.

In [4]:
# Replace "?" with NA
df.replace('?',np.nan,inplace=True)
df.isna().sum()

symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

So, we can see that 40 of the normalized loss values are missing. That just will not do. We don't want to drop 40 rows from our data-set, so we'll find the mean of the remaining values and substitute it in

In [5]:
#mean = df["normalized-losses"].mean()
#df["normalized-losses"].replace(np.nan,mean)

Okay, so that doesn't work yet, because the Normalized Losses column is an object column, not float or int. So, I'll have to go through and correct the type of each column first.

## Converting Types

I'll have to change a lot of these columns to the proper type.

In [6]:
pd.set_option('display.max_columns', None) 
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       202 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               200 non-null    object
 19  stroke             200 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              200 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [7]:
# Create a list of columns to change the type of in a simple way
cols = ["normalized-losses","bore","stroke","horsepower","peak-rpm","price"]

In [8]:
for col in cols:
    df[col] = df[col].astype("float64")

Now, another problem I can see here is the fact that "num-of-cylinders" is written as a bunch of strings, even though it should be an integer. Time to fix that...

In [9]:
%%sql
SELECT DISTINCT `num-of-cylinders` FROM AUTO

 * sqlite:///autodb.db
Done.

[('four',), ('six',), ('five',), ('three',), ('twelve',), ('two',), ('eight',)]

(Confession: I can't remember off the top of my head how to find the unique entries in a pandas series, hence why I used the SQL query)
Now I'll create a dictionary with each 'num-of-cylinders' value as the key and the equivalent numerical value as the value, then use a "for" loop to iterate through and replace them all

In [10]:
# Create the dictionary
dict = {'four':4,'six':6,'five':5,'three':3,'twelve':12,'two':2,'eight':8}
# Loop through the data frame and replace
for key,value in dict.items():
    df["num-of-cylinders"] = df["num-of-cylinders"].replace(key,value)
df["num-of-cylinders"] = df["num-of-cylinders"].astype("float64")

In [11]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4.0,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6.0,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4.0,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5.0,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,5.0,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

With that done, I can finally fix that normalized-losses column

In [12]:
mean = df["normalized-losses"].mean()
df["normalized-losses"] = df["normalized-losses"].replace(np.nan,mean)

In [13]:
df.to_sql("AUTO",con,if_exists='replace',index=False,method="multi")
%sql SELECT * FROM AUTO LIMIT 5;

 * sqlite:///autodb.db
Done.

[(3, 122.0, 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', 88.6, 168.8, 64.1, 48.8, 2548, 'dohc', 4.0, 130, 'mpfi', 3.47, 2.68, 9.0, 111.0, 5000.0, 21, 27, 16500.0),
 (1, 122.0, 'alfa-romero', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 94.5, 171.2, 65.5, 52.4, 2823, 'ohcv', 6.0, 152, 'mpfi', 2.68, 3.47, 9.0, 154.0, 5000.0, 19, 26, 16500.0),
 (2, 164.0, 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 99.8, 176.6, 66.2, 54.3, 2337, 'ohc', 4.0, 109, 'mpfi', 3.19, 3.4, 10.0, 102.0, 5500.0, 24, 30, 13950.0),
 (2, 164.0, 'audi', 'gas', 'std', 'four', 'sedan', '4wd', 'front', 99.4, 176.6, 66.4, 54.3, 2824, 'ohc', 5.0, 136, 'mpfi', 3.19, 3.4, 8.0, 115.0, 5500.0, 18, 22, 17450.0),
 (2, 122.0, 'audi', 'gas', 'std', 'two', 'sedan', 'fwd', 'front', 99.8, 177.3, 66.3, 53.1, 2507, 'ohc', 5.0, 136, 'mpfi', 3.19, 3.4, 8.5, 110.0, 5500.0, 19, 25, 15250.0)]

# Session 2 Begins: Replace the remaining missing values

In [14]:
# Evaluate for missing data
missing_data = df.isnull()

# Count missing values in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print('')

symboling
False    204
Name: symboling, dtype: int64

normalized-losses
False    204
Name: normalized-losses, dtype: int64

make
False    204
Name: make, dtype: int64

fuel-type
False    204
Name: fuel-type, dtype: int64

aspiration
False    204
Name: aspiration, dtype: int64

num-of-doors
False    202
True       2
Name: num-of-doors, dtype: int64

body-style
False    204
Name: body-style, dtype: int64

drive-wheels
False    204
Name: drive-wheels, dtype: int64

engine-location
False    204
Name: engine-location, dtype: int64

wheel-base
False    204
Name: wheel-base, dtype: int64

length
False    204
Name: length, dtype: int64

width
False    204
Name: width, dtype: int64

height
False    204
Name: height, dtype: int64

curb-weight
False    204
Name: curb-weight, dtype: int64

engine-type
False    204
Name: engine-type, dtype: int64

num-of-cylinders
False    204
Name: num-of-cylinders, dtype: int64

engine-size
False    204
Name: engine-size, dtype: int64

fuel-system
False    204
Name: fuel-system, dtype: int64

bore
False    200
True       4
Name: bore, dtype: int64

stroke
False    200
True       4
Name: stroke, dtype: int64

compression-ratio
False    204
Name: compression-ratio, dtype: int64

horsepower
False    202
True       2
Name: horsepower, dtype: int64

peak-rpm
False    202
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    204
Name: city-mpg, dtype: int64

highway-mpg
False    204
Name: highway-mpg, dtype: int64

price
False    200
True       4
Name: price, dtype: int64

We can see now that we're still missing values in the bore, stroke, horsepower, peak-rpm, and price columns. If we're missing price data, then there's no point (assuming we want to create a model for price). Number of doors is a categorical variable, so that should be replaced by the mode. For the others, we'll replace the missing values with the mean.

In [15]:
# Find most common value in number of doors and replace missing values
df["num-of-doors"].replace(np.nan,df["num-of-doors"].value_counts().idxmax(), inplace=True)

In [17]:
# Drop rows with missing prices
df.dropna(subset=["price"],axis=0,inplace=True)
df.reset_index(drop=True,inplace=True)

In [20]:
# Create a list of columns that need to have missing values replaced by the mean
to_replace = ["bore","stroke","horsepower","peak-rpm"]

# Loop through the columns, replace missing values as needed
for col in to_replace:
    mean = df[col].mean()
    df[col].replace(np.nan,mean,inplace=True)

## Introducing indicator variables

If our endgoal is a machine learning model for price based on the other variables, then we'll need to replace the categorical variables with indicator variables. Those categorical variables are:
- make
- fuel-type
- aspiration
- num-of-doors
- body-style
- drive-wheels
- engine-location
- engine-type
- fuel-system

In [46]:
# Create a list of Object type columns
to_replace = []
for col in list(df):
    if df[col].dtype == np.object_:
        to_replace.append(col)

# Iterate through list and replace each column with an indicator variable
for col in to_replace:
    dv = pd.get_dummies(df[col])
    df = pd.concat([df,dv],axis=1)
    df.drop(col,axis=1,inplace=True)

df.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,alfa-romero,audi,bmw,chevrolet,dodge,honda,isuzu,jaguar,mazda,mercedes-benz,mercury,mitsubishi,nissan,peugot,plymouth,porsche,renault,saab,subaru,toyota,volkswagen,volvo,diesel,gas,std,turbo,four,two,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd,front,rear,dohc,l,ohc,ohcf,ohcv,rotor,1bbl,2bbl,4bbl,idi,mfi,mpfi,spdi,spfi
0,3,122.0,88.6,168.8,64.1,48.8,2548,4.0,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,122.0,94.5,171.2,65.5,52.4,2823,6.0,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
2,2,164.0,99.8,176.6,66.2,54.3,2337,4.0,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
3,2,164.0,99.4,176.6,66.4,54.3,2824,5.0,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
4,2,122.0,99.8,177.3,66.3,53.1,2507,5.0,136,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0

That feels like a ridiculous number of columns, but when we really think about it, something like a multiple-regression model would actually allow us to have greater insight into the relationship between manufacuturers, etc. if we had a dummy variable for each in this manner.